[2018-05-18 15:57] skatcat31 opened #10 "How do I update a question?"
I've noticed the clone an object question is incorrectly using Object.assign:

[code]

It needs to be updated to the Spread operator or the proper usage of Assign `Object.assign({},a)`

I'm curious how the setup process for the current generator works, but I'm guessing every question is under the JSON file, but should I just modify the question content in the file? OR is that file generated off of

[2018-05-18 16:00] skatcat31 opened #11 "Move some questions under a general Programming header"
I've noticed there is a question in the Javascript header about what a Closure is, but that is a CS idea and not unique to Javascript or a programming paradigm but is a feature of a language should it choose to implement that design strategy.

It should probably be moved under a general `Programming` header instead along with some others. We should continue to expand and edit this issue with other

[2018-05-18 16:34] #10 closed, assigned to nobody

[2018-05-18 16:35] flxwu opened #13 "Adapt Pluralsight IQ Questions"
At the WeAreDevelopers World Congress in Vienna, I tried out the Pluralsight IQ tests several times - and the questions were really well-thought and well-chosen.
I think we could adapt at least some of them :+1:

[2018-05-18 16:56] #11 closed, assigned to nobody

[2018-05-19 14:48] fejes713 opened #19 "FEATURE: Voting system"
# Voting System
Ever since 30 seconds of code we wanted to add some kind of voting. Obviously that move would require us to  have some sort of server. I would like to implement this server so we can **voting feature** here on 30 seconds of interviews. @atomiks suggested that instead of numbers being displayed we should have it as:
1️⃣ `I was asked this question before` : for new employees
2️⃣ `I a

[2018-05-19 15:03] fejes713 opened #20 "FEATURE: Categorize questions by difficulty and random interview"
_Currently, we have around 30 questions. In order to implement difficulty category we would need a bit more, lets say 50+._

This issue represents mixture of my and @atomiks ideas.

We would like to implement some sort of *real interview*. When a user presses a button on a landing page he is redirected to a custom page where he is welcome with ~10 random questions. The user should be able to selec

[2018-05-19 15:15] fejes713 opened #21 "FEATURE REQUEST: Scroll to top"
Similarly to 30 seconds of CSS. Shouldn't be hard to implement

[2018-05-20 06:47] #21 closed, assigned to nobody

[2018-05-20 18:35] flxwu opened #24 "BackEnd?"
Subsequently to #19 and the things we talked about in 30-seconds-of-code, I am thinking about adding a BackEnd. I mean, we don't have to give it full functionality, but we could for sure just set it up and maybe use it to easily try out things like voting. Maybe you guys already discussed it, but What do you think?

We would, of course, thus have to put it on i.e. heroku, but that's not a big deal

[2018-05-20 22:38] #20 closed, assigned to Chalarangelo, skatcat31, flxwu

[2018-05-21 07:59] #19 closed, assigned to skatcat31, flxwu

[2018-05-24 08:50] flxwu opened #29 "Question Sort options"

[2018-05-24 08:51] flxwu opened #30 "Question Search Query"

[2018-05-24 23:16] atomiks opened #34 "Problem solving questions with code (Edabit, Codewars, Hackerrank, etc)"
A large part of interviews isn't just answering questions like the ones currently, but also solving problems using real code. I think in order for this project to provide enough value to truly go viral as a great interview preparation source, it needs to allow people to submit solutions to common programming problems / assess their problem-solving ability using code too.

I can implement this func

[2018-05-25 20:59] fejes713 opened #35 "[FEATURE] Details regarding website"
## Description
The website looks fantastic and ready for launch in my opinion. I taught about adding a more welcoming lancing page. @skatcat31 helped me write this introductory text which is straight to the point in my opinion:

"Interviews are daunting and can make even the most seasoned expert forget things under pressure. Review and learn what questions are commonly encountered in interviews cu

[2018-05-26 05:46] atomiks opened #38 "Remove README generation"
On 30 seconds of CSS I didn't have a README because it was impossible to.

If we are adding coding challenge questions then this README will not contain the full scope of our project. Its UX/styling is also worse so we should force people onto the website to get the proper experience. A lot of people coming from trending may not see the website or bother to visit it due to the README and miss out

[2018-05-26 11:08] #38 closed, assigned to fejes713

[2018-05-26 11:18] #34 closed, assigned to nobody

[2018-05-27 10:59] atomiks opened #46 "Enforcing consistent style for question code (Prettier)"
I think Prettier alone is fine (no standard/semi-standard) with the default settings but _without_ semicolons 😜

This is the standard Hyperapp style which I always use now.

### Why no semicolons?

They're visual noise, mostly unnecessary. There are very few cases in which they are required, and once you understand them it's fine (or use prettier-on-save which does it for you)

### Why double quot

[2018-05-27 11:18] #29 closed, assigned to flxwu

[2018-05-27 11:19] fejes713 opened #47 "[ENHANCEMENT] Sorting and Filtering"
We want the UI to be as minimal as possible while staying fully functional. That being said I do not see a single reason to have sorting by alphabet options as most questions start with words "how"  or "why".

Instead, we can do default sorting by expertise with nice animations (arrow up and arrow down).

@flxwu @atomiks opinions?

[2018-05-28 12:21] #46 closed, assigned to nobody

[2018-05-28 18:12] flxwu opened #53 "[Future] Make an API for the questions?"

[2018-05-28 18:13] #35 closed, assigned to nobody

[2018-05-29 05:35] atomiks opened #54 "Parcel hot reloading problems"
When the file is saved in a text editor the page is hot-reloaded to preserve Hyperapp's state and the console comes up with a bunch of errors and a bunch of elements don't get rendered. I've had similar problems in multiple different projects and I'm not sure why.

@flxwu any help?

[2018-05-30 11:06] #47 closed, assigned to nobody

[2018-05-30 11:07] #30 closed, assigned to nobody

[2018-05-30 13:02] atomiks opened #60 "Performance issues on Safari"
`Composite paint` is taking 700ms when showing an answer for some reason. Chrome and FF are instant

[2018-05-30 16:56] skatcat31 opened #62 "Links in the readme are not generating correctly"
The link generation for the readme is broken. Currently broken links are as follows:

# Javascript
1. how-can-you-avoid-callback-hells-js-get-data-function-a-get-more-data-a-function-b-get-more-data-b-function-c-get-more-data-c-function-d-get-more-data-d-function-e
1. how-do-you-clone-an-object-in-java-script
1. how-do-you-compare-two-objects-in-java-script
1. what-is-the-difference-between-the-eq

[2018-05-30 19:12] flxwu commented on #62
This was fixed in #74dae17

[2018-05-30 19:13] #62 closed

[2018-05-31 08:28] atomiks commented on #60
iOS Safari performance is perfect (iPhone 8+).

What could possibly be wrong with macOS Safari?...

[2018-05-31 18:05] skatcat31 commented on #60
Safari is such an awkward duck... things that exist everywhere else don't exist in it or are different... Same with Firefox...

You'd think Apple would have created an abstraction layer so that performance would be directly tied to device speed...

[2018-05-31 18:07] skatcat31 commented on #13
I went through the JS test at least... I'm not certain I like a few of their questions(they're kind of outdated), but a lot of them would be great to adapt

[2018-05-31 18:19] fejes713 commented on #60
@atomiks WWDC is right around the corner, they might tell us!

The good thing is that Safari is MacOS only and most devs use Chrome / Firefox on Macs. I'll check analytics to see how much % are we getting from MacOS & Safari 😉

[2018-06-01 04:44] imcodingideas commented on #24
I'm really enjoying Hapi right now. The swagger plugin and joi validation are pretty sweet.

[2018-06-01 05:28] Chalarangelo commented on #24
@imcodingideas I just found out about Hapi a few days ago. It seems really cool and interesting (and kinda less complex than Express). Might be worth looking into.

[2018-06-01 07:11] atomiks opened #65 "Expertise sorting"
A comment was made on Reddit:

It's the depth of the answer that should differ depending on the level of the candidate.

How should we handle expertise divisions? Or should they just be removed altogether? I think they're valuable depending on the role the candidate is interviewing for but not if they're being used improperly.

[2018-06-01 08:09] Chalarangelo commented on #65
I think they are ok and they are not all that prominent on the website to be an issue. Add a disclaimer maybe to tell people that they are not always correct or exact and that people with different experience in different fields may find the expertise divison somewhat inaccurate?

[2018-06-01 08:35] Chalarangelo commented on #65
We could even go to a rating logic on a scale from 1 to 10, which will be more granular and not use umbrella terms for a lot of difficulty levels.

[2018-06-01 11:15] flxwu opened #67 "Implement Languagetool API to test question texts on grammar and spelling"

[2018-06-01 14:41] flxwu commented on #67
Sure! @Chalarangelo

[2018-06-01 15:31] mildrenben opened #68 "Cloning an object should mention .getOwnPropertyDescriptors"
The question titled: How do you clone an object in JavaScript?

The answer should mention the fact that getters and setters do not get copied in the ways you've currently described and that you need to use `Object.defineProperties({}, Object.getOwnPropertyDescriptors(obj))` to get a full shallow copy including the getters and setters. Using only spread to copy makes some kinda weird stuff happen w

[2018-06-01 15:53] skatcat31 commented on #68
There's two ways we can take this:

1. Assuming Objects are POJS(Plain Old Javascript) which means no Getter or Setters as then it becomes an instance of a custom type with no prototype
1. Include information about proxies(Getters, Setters, actual Proxies) and custom types and attempt to support them

I'm more for version 1 since program modification of an Object needs to be documented and should

[2018-06-01 16:03] skatcat31 commented on #65
I agree that the Redditor has hit upon a problem, but like most intermediate designers they've addressed the wrong problem:

- Our rating system uses incorrect labels that in most contexts means something completely different

When the rating system was devised it was devised with level of 'knowledge of language' versus 'knowledge of implementation' which is vastly different in an interview. We sh

[2018-06-01 16:16] skatcat31 commented on #24
@Chalarangelo express is complex? I always thought express was so un-opinionated that if you didn't know what you were doing you'd quickly go down in flames. I'm not such a fan of Hapi though due to it's really confusing changing returns and awkward handler registration.

The difference is that Hapi is more opinionated which means a lot of things will work, but only work if you do it the way Hapi

[2018-06-01 16:19] Chalarangelo commented on #24
@skatcat31 you just described my experience with Express. Which is why I think hapi can be easier to start with (or anything a bit more opinionated). Working on something as barebones as Express is cool, but it takes a lot of work if you are not super familiar with it - I'm not.

[2018-06-01 16:33] skatcat31 opened #69 "Add a new heading for general knowledge and design practices"
We want to move some things out of Javascript/Node and into a more general Programming or Design headers. A big example of this is Big O complexity which is a general computer science concept that doesn't belong to JS and nesting it under JS only makes it confusing.

We should however note in those questions as we move them what language the examples will be in and any caveats thereof.

Otherwise

[2018-06-01 16:56] skatcat31 commented on #24
@Chalarangelo [an example](https://github.com/skatcat31/simpleExpressExample) of [my express autoloader](https://github.com/skatcat31/simpleExpress)

I have a LOT of experience with Express and scaffolding it in such ways that makes it extremely extendable, and easy, composable, and contained.

As an example, this is what my app.js files usually look like:

[code]

This crawls the folder and looks

[2018-06-01 17:17] hznuksco opened #70 "`this` keyword question: `myObject.iife()` should be `myObject.iife`"
![1](https://user-images.githubusercontent.com/27288263/40854024-9b4b79de-6602-11e8-9929-1cf0af0a9356.PNG)
![2](https://user-images.githubusercontent.com/27288263/40854039-9f9ed5d0-6602-11e8-9f2e-c3748b11b647.PNG)
myObject.life() maybe myObject.life

[2018-06-01 17:23] skatcat31 commented on #70
`iife` stands for `immediately-invoked function expression` and is the format of that functional call:

[code]

[2018-06-01 18:08] fejes713 commented on #69
For now, I just want to keep this project JavaScript / HTML / CSS and something tightly connected to those I mentioned. However, I do agree with you. We definitely want to separate those that are not so much JS related. We will add them to `general` category, but not yet. Once we come up with more questions and answers for that category we will add it. I don't want a website that has 1 question in

[2018-06-01 20:13] fejes713 commented on #54
@atomiks any news regarding this problem?

[2018-06-01 21:18] skatcat31 commented on #69
Fair enough, can't argue with that. When enough are in the general category that can be branched off then I guess we can do it then

[2018-06-02 08:29] atomiks commented on #70
Yes, it should be `myObject.iife` without calling it as a function. Feel free to make a PR for this.

[2018-06-02 08:42] #70 closed

[2018-06-02 08:43] fejes713 commented on #69
Well, I am closing this until we collect way more questions so we can branch them. I will hopefully reopen this in a month and then we can work on it.

[2018-06-02 08:43] #69 closed

[2018-06-02 08:45] fejes713 commented on #65
I've noticed this too. Many people complain that they know senior questions while struggle with junior once and so on.

I don't think we should remove difficulty at all. It is nice to be able to see what belongs where once you know the answer. However, our ranking system might not be accurate so we can use easy, intermediate and hard as @flxwu  suggested? What's your opinion on this @atomiks @Chal

[2018-06-02 11:42] Chalarangelo commented on #65
Easy, intermediate, hard is quite decent, too. I mean Junior questions can be hard but knowledge a senior has. Senior questions can be easy but knowledge a junior might have. Sounds better imho.

[2018-06-02 12:08] #65 closed

[2018-06-02 13:52] fejes713 commented on #13
I have added Pluralsight questions to the new branch `pluralsight-questions`. Those are just questions with no answers. We can slowly start adding answers to them, no rush.

Those questions can be answered in one or two sentences but I would like to keep answers rich like we do in the rest of the project so feel free to mention relevant information in each answer.

Here's the branch: https://githu

[2018-06-03 06:40] fejes713 commented on #67
As discussed on Gitter yesterday, we won't implement this due to various reasons.

[2018-06-03 06:40] #67 closed

[2018-06-05 02:33] atomiks commented on #60
We should focus on improving performance. I did a Lighthouse audit:

![img](https://i.gyazo.com/ec16089cdbb9122e0c855cd254d50b55.png)
![img](https://i.gyazo.com/c1a134a84b334acbf86bd6e65d25b6ae.png)

Main things I see:

- Server-side rendering so first meaningful paint occurs sooner
- Inline the CSS
- Input latency is horrific (359ms). I will change from conditional rendering to using display bloc

[2018-06-05 02:39] skatcat31 commented on #60
What parts of the page are hard static and what parts are dynamic(rely on loading content)?

[2018-06-05 02:44] atomiks commented on #60
Everything is static.

I think we can generate markdown on build generation and not offload to the client and use memoization as well.

[2018-06-05 02:54] skatcat31 commented on #60
That's a pretty good idea. Why memoization though?

[2018-06-05 02:57] atomiks commented on #60
Sorry, I meant that the current markdown is memoized because it gets called again when filtering. The display block/none technique mitigates the need for that (and so would server-side markdown generation)

[2018-06-05 03:17] skatcat31 commented on #60
By server side do you mean pre generation of the markdown?

[2018-06-05 07:12] fejes713 commented on #60
We should definitely take more care about performance. Current loading speeds are not fancy. It takes 2.7s to load 1st layer of the page.

I don't know much about server-side rendering but I guess we can move the hard work of linting to the server and let user load page without needing to do any work on the client side? Are we on the same page, or I am just a bit dumb about this whole performance

[2018-06-05 16:47] skatcat31 commented on #60
@fejes713 @atomiks I would like to clear up what you mean by server here:

- active generation of HTML per request by a remote service
- pre generation during build process so client needs to do minimal parsing before display

[2018-06-06 03:41] atomiks commented on #60
The raw extracted string from the `.md` file is what the JSON contains. So we use `marked()` client-side to parse it when they load the page. Rather, we can do that process when we build it instead.

[2018-06-06 03:58] jorgebucaran commented on #60
@fejes713 @atomiks I am not overly familiar with your code base yet, but this part caught my attention:

https://github.com/fejes713/30-seconds-of-interviews/blob/ca96d0f37a2c42be4cbb12dcdecfa84ede3230f3/website/js/components/Question.js#L35-L39

It seems that questions and answers are _eagerly_ parsed (with <samp>marked</samp>) during the first render.

https://github.com/fejes713/30-seconds-of-i

[2018-06-06 04:08] atomiks commented on #60
Conditional rendering is currently used for filtering the questions themselves, but it creates signfiicant performance issues. If we use `display` to toggle the visibility, it seems to render much faster (creating the node once vs. creating it conditionally?)

[2018-06-06 05:38] skatcat31 commented on #60
it shouldn't render unless it changes DOM... at least it shouldn't. This may be a Safari specific quirk

[2018-06-06 05:42] jorgebucaran commented on #60
@atomiks Good points. I'll try to have a look when I find time. I just want to add, that while this is probably **not** the issue, conditional rendering is the correct approach if you want to avoid eagerly parsing markdown.

Offtopic: What about an infinite scroll where we only show a subset of the data? 🤔

[2018-06-06 06:54] jorgebucaran commented on #60
@atomiks @fejes713 Like some of you already commented, this appears to be an issue with the layout and rendering (not with the JavaScript), so I started fiddling with the CSS. I don't really know CSS well, but removing `transform: rotateX(180deg)` in <samp>Question.scss</samp> solved the problem.

https://github.com/fejes713/30-seconds-of-interviews/blob/ca96d0f37a2c42be4cbb12dcdecfa84ede3230f3/we

[2018-06-06 06:54] jorgebucaran commented on #60
EDIT: Leaving the rotateX, but removing the transition also fixes the problem.

https://github.com/fejes713/30-seconds-of-interviews/blob/ca96d0f37a2c42be4cbb12dcdecfa84ede3230f3/website/css/components/Question.scss#L91-L93

[2018-06-06 06:56] atomiks commented on #60
Hahah so random. That's an easy fix. Why is the arrow in the after or is that to highlight paint issues?

[2018-06-06 06:57] jorgebucaran commented on #60
Correct. `color: red` FTW.

[2018-06-06 08:13] #60 closed

[2018-06-06 08:46] fejes713 commented on #60
@jorgebucaran Thank you so much for this one! 😄

[2018-06-08 13:25] fedemengo opened #83 "Array.sort() time complexity"
Shouldn't the time complexity of `Array.sort()` be **O(NlogN)** instead of **O(logN)**? In `questions/big-o-notation.md`

[2018-06-08 15:47] fejes713 commented on #83
Yeah, I think you're right as well. My friend told me the same thing. Feel free to submit PR if you would like to 👍

Thanks for noticing this 👍

[2018-06-08 15:52] skatcat31 commented on #83
IF this hasn't been fixed yet it shouldn't be closed. Either we close it with a fix, they close it with a fix, or we put it as 'will not fix'. Otherwise it should stay open since it has not been `closed`(fixed or decided on) just yet

[2018-06-08 16:00] fejes713 commented on #83
@skatcat31 You're right. Thanks for letting me know! 👍

[2018-06-08 18:23] skatcat31 commented on #68
Since there haven't been any other opinions expressed in the past week we'll be going with 'assume POJS' and issuing a `won't fix tag`.

[2018-06-08 18:23] #68 closed

[2018-06-08 18:30] skatcat31 commented on #13
I think this might be better tackled the same way it was with https://github.com/Chalarangelo/30-seconds-of-code/issues/100

[2018-06-08 18:39] fedemengo commented on #83
@skatcat31 In my local commit there are two more fixes you can integrate into your last fix. See if it's fine for you.

[2018-06-08 21:53] atomiks commented on #83
`NlogN` is `3000ms`, no?

[2018-06-08 22:20] skatcat31 commented on #83
... I wish I had seen that before I tried to remember what base the notation was in... this really has been a long week.

[2018-06-08 22:27] #83 closed

[2018-06-09 09:19] fejes713 commented on #13
@skatcat31 You're right. I will try to add an issue later today! Thanks

[2018-06-09 09:20] fejes713 commented on #24
Yeah, both could be merged somehow.

[2018-06-10 07:11] jorgebucaran commented on #54
Could this be related to https://github.com/hyperapp/hyperapp/issues/705?

[2018-06-10 15:48] ellisken opened #86 "Consider rewording of "Good to hear" section in answers"
The phrase "Good to hear" is  confusing for native English speakers on first glance in this application's context. It's typically used in response rather than as a signal to someone that information will follow. The phrase also doesn't convey that the section is essentially a summary of the longer answer's thesis.

I suggest changing the section title to a more apt word or phrase like "In Short" o

[2018-06-10 18:56] skatcat31 commented on #86
Good to know might be a better header. Thankfully it shouldn't be too hard to change all instances in the snippets. I'll await final decision before doing an awk/sed replace

[2018-06-10 22:56] atomiks commented on #86
When I first saw it, "Good to hear" meant "It's also good [for the interviewer] to hear these points". Though maybe I've looked at it too much since.

[2018-06-11 10:03] theodesp commented on #13
I write questions for Pluralsight IQ and we have to bear in mind that its intellectual property of Pluralsight and the authors that make them and we should not copy them in any way unless we ask for permission. There is a lot of time to prepare those questions so there should be only newly created ones.

[2018-06-11 12:09] fejes713 commented on #86
You might be right actually. I would like to hear feedback from every member of the core team so we can decide if we're going to replace `Good to hear` phrase. Thanks for noticing this!

In Serbian, that phrase means the same as @atomiks said:

[2018-06-11 12:21] fejes713 commented on #13
Thanks for letting us know about it @theodesp. However, I am not so sure about that statement.

How could question "How do you remove a property from an object?" be a legal property of Pluralsight?

Those are questions that are encountered in every other interview. @skatcat31 @Chalarangelo Could you please revisit this (as well as the rest of the core team)?

[2018-06-11 12:28] theodesp commented on #13
I suppose some questions are not. But others with code examples could be.

[2018-06-11 16:22] skatcat31 commented on #86
My opinion on it is that it's "Good to hear[ for the interviewer]" but again developer bias. That may not be obvious to those that come to the site.

[2018-08-03 17:07] skatcat31 opened #95 "Java Questions"
I was recently in an interview where I was asked "What is the difference between .equals and == when comparing Objects in Java?" that I thought would be a good example to highlight here. I do however want to think of the best way to go about it. To that end I've thought of two problems with it currently that should be addressed before submission:

 - Should we expand this question to cover more la

[2018-08-03 17:14] skatcat31 commented on #95
Expanding the question:

### How would you compare two objects to check for different types of equality?

Equality can mean many things, but primarily in computer science there are two ways to check for equality with Objects:
- By Value
- By Reference

#### By Value
Checking equality by value means to see if the second Object stores an equivalent value. In Java this is done with the `.equals` meth

[2018-08-03 17:15] skatcat31 commented on #95
Otherwise the other option is to add tags for languages and put this as an example in each with the differences per language highlighted against a 'base' language(probably JavaScript since this is a full stack resource)

[2018-08-04 22:15] #86 closed

[2018-08-06 14:51] fejes713 commented on #95
Thanks for pointing this out @skatcat31

We have discussed this in the early days of 30 seconds of interviews and there were mixed opinions on this topic.

In general, this is a great idea. It makes sense to have different answers for different programming languages. However, our interview question database is not very big ~80 questions.

Personally, I am against adding material that is not in the

[2018-08-06 14:51] #95 closed

[2018-08-07 17:48] #13 closed

[2018-08-07 17:58] skatcat31 commented on #24
Are we still looking at this?

[2018-08-07 18:03] fejes713 commented on #24
A week ago DigitalOcean agreed to be a sponsor of our project. We got one droplet that will be used to host backend.

So yes, this is still open. I wish we can start implementing this these days but time is tough.

[2018-08-07 18:05] fejes713 commented on #53
@flxwu You're right. We can implement this 😉 DigitalOcean provided us with free droplet to host this API so we can make us of that.

[2018-08-08 06:43] fejes713 commented on #54
@jorgebucaran thanks! @atomiks can check on this one so we can close this issue?

[2018-08-08 06:45] jorgebucaran commented on #54
@fejes713 https://github.com/hyperapp/hyperapp/issues/705#issuecomment-399278416 was closed as per that comment. I've not had much trouble with Parcel recently, but I still have to restart it from scratch from time to time.

[2018-08-09 21:54] flxwu commented on #24
we can all agree on node/Express right?

[2018-08-09 21:54] flxwu commented on #24
we can all agree on node/Express right?

[2018-08-09 22:02] skatcat31 commented on #24
yes I can agree on that

[2018-08-10 09:31] Chalarangelo commented on #24
Yep, I agree as it's competent and I am familiar with that stack.

[2018-08-10 21:09] skatcat31 commented on #24
the question is how do we footprint each individual user so as to keep votes as non game-able as possible?

[2018-08-10 21:15] Chalarangelo commented on #24
Two viable options from where I stand:
- IP + browser data to approximate users and use a cookie to store returning visitors, make for a more inclusive system but can be gamed under circumstances.
- Use a 3rd party authorization system, preferrably GitHub, less game-able, but less inclusive, too.

A combination of the two would also be possible, but we will have to weigh votes and build a system t

[2018-08-11 16:50] flxwu commented on #24
however let's just start and deal with that later

[2018-08-12 19:55] Chalarangelo commented on #24
@flxwu A simple IP+token based implementation sounds like a good start. After all, all of the 30s projects are based on trial and error and we have goofed in a lot of places before. This won't cause any irreversible damage even if the system is abused to death, as we can always wipe the slate clean and start over with the voting. So let's get started on that.

[2018-08-12 23:38] skatcat31 commented on #24
IP won't work with so much NAT in the real world. As a point in case yesterday my IP address was in the 20.XXX.YYY block and today it's in the 29, and it hasn't actually been 24 hours.

[2018-08-13 05:58] Chalarangelo commented on #24
@skatcat31 That's a decent point, my IP changes a lot plus I work in a building with 100+ computers all under the same IP. But we cannot access MAC address in any way or anything else that feels worthwhile, so the only alternative would be to use GitHub's authorization system and only accept verified users. Not a terrible choice, but might cause vote counts to be lower than what we might want. Alt

[2018-08-13 17:35] skatcat31 commented on #24
we could fingerprint: https://arstechnica.com/information-technology/2017/02/now-sites-can-fingerprint-you-online-even-when-you-use-multiple-browsers/

however I like the idea of GitHub integration so that only verified users can vote. This will give us a repeatable and verifiable way to keep track with an already secure login system :wink:

[2018-08-14 17:50] fejes713 commented on #24
I like the Github idea very much. That way only _real developers_ could vote 😄

*NOTE: I got a small surprise comming very soon to this project. Expect new category, 50 questions.*

[2018-08-20 21:02] schwenky opened #96 "Add a section for a11y questions"
Since accessibility is such a huge part of FE, I'd love to see a section of questions dedicated to this part of our job. I have a few that I usually ask applicants that I'd be happy to add!

[2018-08-22 19:14] fejes713 commented on #96
Hey, @schwenky thanks for this recommendation. This sounds like a great idea to me, and I am willing to make accessibility category. 👍

Right now I am in the middle of writing React questions & answers so I will start implementing a11y questions as soon as I finish React ones.

You can open up a pull request for a11y questions following the same questions template we used for other categories. Und

[2018-08-30 04:26] chenjigeng opened #99 "the answer is wrong for the question: "How do you compare two objects in JavaScript?""
The code can't work by calling
[code]
This is my answer:
[code]

[2018-08-30 06:03] flxwu commented on #99
Please open a PR if you think the code in the answer should be changed. Thanks! 😊

[2018-08-30 23:16] skatcat31 commented on #99
i'm going to reopen this to allow for easier discussion from #100

[2018-08-31 02:28] chenjigeng commented on #99
yes.and it will return true with { a:1 } amd { a: 2} used as arguments.The code can't work.

[2018-09-01 07:08] skatcat31 commented on #99
This is a confirmed problem. We might need to add better handling for this.

Or we could just use `JSON.stringify(a) === JSON.stringify(b)` as a short and sloppy...

But like I said it's sloppy and only really applies to POJO(Plain Old JavaScript Object)

[2018-09-01 07:14] chenjigeng commented on #99
We can solve it by adding a if statement.You can see my code above.

[2018-09-05 16:57] Chalarangelo opened #102 "[FIREFOX] Website broken?"
@atomiks @fejes713 @skatcat31 @flxwu Website seems to be broken for me. We need to address this asap!

### Notes

- This only seems  to happen on Firefox on my PC, works properly for Chrome.
- No errors in console.

[2018-09-05 16:59] Chalarangelo commented on #102
![screenshot_2018-09-05 30 seconds of interviews](https://user-images.githubusercontent.com/8281875/45108736-1e5c6980-b146-11e8-844b-43ea00cf59d9.png)

This is what I see on Firefoxs on my PC and after a few seconds it goes blank.

[2018-09-05 17:10] AlejandroMataGuillen commented on #102
@Chalarangelo Just tested on Firefox 61.0.1 and works well

[2018-09-05 18:26] fejes713 commented on #99
@chenjigeng thanks for noticing this. The PR is merged. ❤️

[2018-09-05 18:26] #99 closed

[2018-09-05 23:16] atomiks commented on #102
Not seeing any problems on Firefox either (61 & 62), but that's Mac not PC

[2018-09-06 05:38] Chalarangelo commented on #102
Can't reproduce on a similar setup (Win 10, Firefox). It's probably a problem with my home PC, so I'll check back in the afternoon, figure out the reason why.

[2018-09-06 05:50] flxwu commented on #102
Works for me on Firefox (62) & Chrome (v. 71) aswell

[2018-09-06 07:09] fejes713 commented on #102
Thanks for testing it out @flxwu @atomiks 👍 Hopefully its just problem with @Chalarangelo PC.

I am closing this for now. If some of you run into the same issue again, feel free to reopen this as its a huge issue.

[2018-09-06 07:09] #102 closed

[2018-09-09 08:10] skatcat31 commented on #102
FF is known to be a browser currently undergoing some pains. It's having issues parsing large JSON(above a few KB, has been since the rework), some CSS3 logic(some real edge cases here about composition of transformations triggering other transformations), and a bad parser for date times that sometimes does not resolve the TZ(seems to be fixed as of 61 at least).

This issue however would be a par

[2018-09-09 08:12] skatcat31 commented on #99
right never reported test results did I... yeah it's working in all cases. Never found an edge case that could be considered a problem except for a SO if I went deep with auto generating object references

[2018-09-09 09:00] fejes713 commented on #102
Hey @skatcat31 Thanks for detailed report, I appreciate it very much. We should be stable now, should I close this issue or leave it here if someone encounters the same behavior?

[2018-09-09 16:08] skatcat31 commented on #102
I think it's safe to close as a "unrepeatable local problem"

[2018-09-09 18:52] fejes713 commented on #102
Closing this after receiving feedback from a few more people. Feel free to reopen if you encounter the same problem again.

[2018-09-10 21:30] flxwu opened #104 "30-seconds-of-interviews is searching for Maintainers!"
*This issue was created by [Maintainers Wanted](https://maintainerswanted.com)* :nerd_face:

*Support us by leaving a star on [Github](https://github.com/flxwu/maintainerswanted.com)!* :star2:

## 30-seconds-of-interviews is searching for new Maintainers! :man_technologist: :mailbox_with_mail:

Do you use 30-seconds-of-interviews personally or at work and would like this project to be further deve

[2018-09-10 21:30] flxwu opened #105 "30-seconds-of-interviews is searching for Maintainers!"
*This issue was created by [Maintainers Wanted](https://maintainerswanted.com)* :nerd_face:

*Support us by leaving a star on [Github](https://github.com/flxwu/maintainerswanted.com)!* :star2:

## 30-seconds-of-interviews is searching for new Maintainers! :man_technologist: :mailbox_with_mail:

Do you use 30-seconds-of-interviews personally or at work and would like this project to be further deve

[2018-09-10 21:33] #105 closed

[2018-09-10 21:33] #104 closed

[2018-09-14 16:03] flxwu opened #106 "Refactor + Optimize builder scripts"
I'd suggest, similar to Chalarangelo/30-seconds-of-code#743 , to optimize the builder scripts by using [`markdown-builder`](https://github.com/flxwu/markdown-builder)' to make them more dynamic and readable.

[2018-09-14 16:27] Chalarangelo commented on #106
Not a bad idea, after we finalize the builder, you can give it a spin on this repo, see how it fares and if there any major issues that need to be addressed.

[2018-09-23 08:51] #106 closed

[2018-09-23 09:11] fejes713 opened #110 "New feature proposal: React Questions"
### The title says it all. Our next step is adding React questions 😮

After talking with Sudheer Jonna (@sudheerj) we agreed to add react.js questions to 30-seconds repository.

Jonna already did 80% of the work in this repository: https://github.com/sudheerj/reactjs-interview-questions

The goal, for now, is to pick best ~25 questions from Jonna's repository and add them to our repository. All th

[2018-09-24 01:34] skatcat31 commented on #110
For a second I was REALLY confused about this until I noticed this was interviews not code... I'm getting to tired from interviews -.-;;

[2018-09-24 01:37] skatcat31 commented on #110
I can get behind this. Tomorrow I have some raiding to do in D2 after some calls in the morning and afternoon. After that I'll start getting on which questions I think would be best to move over

[2018-09-24 15:34] fejes713 commented on #110
@skatcat31 Thank you for your time! Once you find the best ones the rest of the team and I can start implementing them 👍

This is probably the last bigger addition to interviews codebase for this year. I have no major plans for it until 2019

[2018-09-25 17:49] skatcat31 commented on #110
I ended up having a much longer day than I planned. I'll hop on this tonight

[2018-09-26 04:11] skatcat31 commented on #110
Alrighty reading through it now and some I've recently encountered he's covered:

- [ ] https://github.com/sudheerj/reactjs-interview-questions#what-is-the-difference-between-element-and-component
- [ ] https://github.com/sudheerj/reactjs-interview-questions#what-is-the-purpose-of-callback-function-as-an-argument-of-setstate possibly with a corollary about how you should use the life-cycle method

[2018-10-03 17:34] derpmarine168 opened #114 "Give each question a ID to allow linking to specific questions."
what it says in the title! this has already been implemented in 30 seconds of css, and would be extremely useful, for example to link a friend to a specific question without them having to find it manually.

[2018-10-03 17:59] skatcat31 commented on #114
The readme does have these, however the generated site does not. It might not be to hard to implement, however the question becomes "what is a unique id we can use" since questions are long, and snippet names are kind of long too. Still a great suggestion.

It looks like it can be put into the build script pretty easily and just based on the snippet name. Then we just merely need to add an anchor

[2018-10-04 19:11] McVenco opened #115 "Question is displayed twice in README.md"
The question "How can you avoid callback hells?" is displayed in both the Javascript and Node sections. Since it's a general Javascript issue it doesn't really need to be in the Node section anyway.

[2018-10-04 20:16] skatcat31 commented on #115
confirmed, it is in two areas on the readme. Will see if it's in two areas on site

[2018-10-04 20:16] skatcat31 commented on #115
It only appears once on the website. We should find a way to remove it from the duplicate section, and apply it mostly to the 'JavaScript' tag. Thanks!

[2018-10-08 18:18] fejes713 commented on #115
@flxwu is there enough room to update 30interviews to use your next-gen markdown builder?

[2018-10-08 18:20] fejes713 commented on #110
Done 💯

[2018-10-08 18:20] #110 closed

[2018-10-08 18:36] flxwu commented on #115
we're already using my markdown builder ^^

[2018-10-08 18:37] fejes713 commented on #115
Woah. Faaaaaantastic ❤️

[2018-10-08 18:38] flxwu commented on #115
We should remove the "node" tag from this snippet then I think

[2018-10-08 18:40] Chalarangelo commented on #115
@flxwu That sounds like a bad idea, we should clean up duplicates more consistently, so that this does issue does not arise again in the future.

[2018-10-08 18:57] flxwu commented on #115
🤔 what are you thinking of?

[2018-10-08 19:05] Chalarangelo commented on #115
I'll have to check the scripts more thoroughly, will report back as soon as I get an idea.

[2018-10-08 21:28] skatcat31 commented on #115
Possible solution: generate a Set with snippet filenames as a way to check if a snippet has been added to the markdown before, and if so point it to the last link generated so that both can be in their sections and point to a single snippet(so a Set of fileName(sanitized for variable safety), and a link so that it points to the same generated area)

[2018-10-09 05:37] Chalarangelo commented on #115
@skatcat31 I like this idea quite a lot.

[2018-10-09 19:14] cam5 opened #118 "Reword the `setState` question to explicitly reference React"
I did a double take because I didn't recognize this native function. Clued in, when I saw talk of components in the body of the message.

I'd offer a PR, but I'd prefer to leave that to someone who's actually worked with React. (Since I do not fit that description!)

[2018-10-15 19:37] amaliaman opened #124 "An error in JS question: What is a stateless component?"
The first sentence of the answer to the question _What is a stateless component?_ is wrong:

It should be:

[2018-10-27 08:21] #24 closed, assigned to nobody

[2018-10-27 08:22] #53 closed, assigned to nobody

[2018-10-28 10:45] #114 closed

[2018-10-28 10:46] fejes713 commented on #114
@derpmarine168 took me much more than a weekend to find time to add one line of code. This is solved now in #129 and should be live very soon. Thanks for recommending this! 👍

[2018-11-12 16:20] Fziliotti opened #131 "The answer of the question "In which states can a Promise be?" have to include the state <settled>"

[2018-11-12 18:50] skatcat31 commented on #131
`settled` is not a valid state for a promise.

It is a colloquial way of referring to a non-pending promise without knowledge of it's actual state. It is not in the specification nor can the state be reached since a promise is considered `settled` as a quantum(either `resolved` or `rejected`), and quantum are not a possible state in JS.

While we understand the intent of this issue it is an incorr

[2018-11-12 18:50] #131 closed

[2018-11-12 18:51] skatcat31 commented on #131
[Promise specification for possible states](https://promisesaplus.com/#promise-states)

[2018-12-08 23:38] tkore opened #133 "Comment is showing on main website under 'Good to hear'"
I was browsing through the 30secondsofinterviews.org website and noticed that in the [How to write comments in React](https://30secondsofinterviews.org/#react-comments) section, there's a malformed HTML comment that's showing in the `Good to hear` section.

I wanted to change it by opening a PR with the [file on GitHub](https://github.com/30-seconds/30-seconds-of-interviews/blob/28a0112012e54be2d2

[2018-12-11 22:59] flxwu commented on #133
Hey, thanks for noting! We've fixed it :)

[2018-12-11 22:59] #133 closed

[2018-12-22 21:54] kamilluc opened #135 "update stateful-components.md"
react 16.7 (currently in alpha) introduced hooks, which allows to use state in non-class components
resource: https://reactjs.org/docs/hooks-intro.html

[2018-12-25 16:02] chenjigeng opened #136 "A problem with 'What is Big O Notation?'"
I think of the time complexity of arr.sort is O(NlogN)

[2018-12-25 16:03] chenjigeng opened #137 "A problem with 'What is Big O Notation?'"
I think of the time complexity of arr.sort is O(NlogN)

[2019-01-08 10:31] fejes713 commented on #137
fixed in #136

[2019-01-08 10:31] #137 closed

[2019-01-10 07:27] ChrisAtMakeGoodTech opened #139 "questions.json is not built correctly when a question is missing a section"
Currently, there are two questions where the markdown file is missing a Good to Hear section. extract.js doesn't handle this correctly and ends up reinserting most of the question under the Good to Hear section (which should be blank). This is observable in README.md and on the Web site.

Bugged questions:
[How to write comments in React?](https://github.com/30-seconds/30-seconds-of-interviews/blo

[2019-01-10 07:39] ChrisAtMakeGoodTech commented on #139
Added a pull request to fix this.

[[FIX: #139] Fix bug when a question is missing a section](https://github.com/30-seconds/30-seconds-of-interviews/pull/140)

[2019-01-11 01:50] skatcat31 commented on #135
It looks like this will be coming to React soon

[2019-01-11 09:46] fejes713 commented on #135
@skatcat31 yep, Dan said they're working on it and it's going to ship very soon.

[2019-01-11 09:50] #139 closed

[2019-01-12 07:55] skatcat31 commented on #135
I've been using React with TS recently so I haven't really looked at this in awhile. If this is the case this may be faster than using a class, which could be nice

[2019-01-12 09:00] Chalarangelo commented on #135
Let's wait until hooks are released in a stable version first, before changing this, right?

[2019-01-12 09:01] Chalarangelo commented on #115
This has been sitting for a while, any news or ideas?

[2019-01-12 09:03] Chalarangelo commented on #54
For what it's worth, most of the trouble I've had with Hyperapp and Parcel comes from the `.cache` directory messing up stuff. Try adding the proper flag for ignoring that folder and see what result you get.

[2019-01-23 22:51] asap opened #142 "Found a typo"
Found a typo here:

https://github.com/30-seconds/30-seconds-of-interviews/blob/28a0112012e54be2d2167d2a9bbd7ee3bd8d2d92/questions/fragments.md

Can I fix?

[2019-01-24 06:36] Chalarangelo commented on #142
@asap Definitely, please submit a PR to this repo and we'll merge it right away!

[2019-01-26 03:58] asap commented on #142
Here's the PR: https://github.com/asap/30-seconds-of-interviews/pull/1

[2019-01-26 04:03] asap commented on #142
Here's the PR. This project is a lifesaver for me so I'm happy to help and contribute, even in this small way!

[2019-01-26 04:56] #142 closed

[2019-03-19 18:02] jkemming opened #150 "Question on CSS sibling selectors is partially wrong"
The question `css-sibling-selectors` seems to give a partially wrong answer.

As per [W3C spec](https://www.w3.org/TR/selectors-3/#general-sibling-combinators), the `~` (tilde) combinator does not work the way it's described in the answer. Instead, it's almost the same as the `+` combinator except that the element following the combinator doesn't have to be placed immediately after the one before

[2019-04-08 02:50] skatcat31 commented on #150
@jkemming seems like a great and easy PR to me 😉

[2019-04-20 19:55] fejes713 commented on #54
@atomiks can we close this? Seems like the website is stable and I had no issues with this since then.

[2019-04-22 00:00] skatcat31 commented on #54
closing due to age and lack of repeatable creation of issue.

[2019-04-22 00:00] #54 closed

[2019-08-14 18:42] cartersteinhoff opened #163 "Feature Request: Dark Mode"
I'm interested in seeing a Dark Mode variant

[2019-08-18 15:47] fejes713 commented on #163
Hey @cartersteinhoff 👋

"Dark Mode" feature is definitely something we're planning to implement very soon. It was on our radar for some time now and I agree with you that this is something many people look forward to!

Expect a fresh dark mode as soon as we figure out the color palette. I'll keep you updated as well!

[2019-08-18 15:47] #115 closed

[2019-08-18 15:51] fejes713 commented on #135
Hooks are stable now (as far as I know).

If anybody is interested in picking up this (or you @kamilluc ), it's a good first issue 👍 You can find the contributor guidelines [here](https://github.com/30-seconds/30-seconds-of-interviews/blob/master/CONTRIBUTING.md).

Let me know if you need any help, I'll be willing to help

[2019-08-18 16:03] fejes713 commented on #163
@atomiks do you perhaps have any ideas on this one? If you have an idea of the color palette used for dark mode I can probably code it next weekend or so.

[2019-08-19 23:48] jeremydouglass opened #166 "Home URL is broken 404"
The URL linked from the repo head and the readme -- https://30secondsofinterviews.org -- is 404 on GitHub Pages.

[2019-08-20 09:31] kamilluc commented on #135
@atomiks updated 'stateful-components' half a year ago. You can close issue.
#144

[2019-08-20 11:40] fejes713 commented on #135
Oh, haha. Thanks for making it clear.

[2019-08-20 11:40] #135 closed

[2019-08-23 18:46] fejes713 commented on #166
Thanks for letting us know! I'll investigate right now! Sorry for the delay

[2019-08-23 19:43] fejes713 commented on #166
The issue is fixed now 👍 Huge thanks to @jeremydouglass for pointing this out ❤️and sorry for a 4-day delay, my bad.

Since we're here, could you share where you heard about this project and is it useful to you? We're planning a second version with much more questions, new design, better performance, dark mode etc.

What are some things that you would love to see?

[2019-08-23 20:18] fejes713 opened #171 "Plans for the second version"
Hello everyone 👋

It's been over a year since this project was released. The feedback so far was phenomenal and it' seems that some people really find this project useful despite my initial thoughts.

I'd like to make the second version of it and I need your opinions on it. The idea is to introduce a completely new structure similar to the 30-seconds-starter kit.

Things I would like to include in

[2019-08-23 20:20] #166 closed

[2019-08-23 20:48] jeremydouglass commented on #171
-  Make the project 100% accessible, and add accessibility category

This is a really excellent idea!

-  A random interview simulation

Interesting, although maybe not as high priority? If it would be a random or sequenced collection of n questions from selected subsections of these lists, it might be important to be clear that it would simulate only one part of an interview -- not all the other

[2019-08-23 22:23] AlejandroMataGuillen commented on #171
Multiple languages? maybe some people can help with the translation. I can help with Spanish for example

[2019-08-24 07:30] Chalarangelo commented on #171
**The features I would prioritize for a v2 are as follows:**

**About the leftover points:**

Content should not be part of a UI redesign, if you want the launch to coincide with the new content, it's entirely ok, but let's keep them separate as to not lose track.

Social media sharing is something of a complicated bit, as I realized with the 30-seconds-starter. Lower priority to this also, due to

[2019-08-29 12:37] atomiks commented on #171
I don't know how this could be included on the site, but a significant part of interviews is "soft skills" and how they the interviewee fits in with the culture of a company or presents themselves, everything we have here is purely hard skills. It's probably hard to adapt this into snippet form but just something I thought about

[2019-08-29 16:51] Chalarangelo commented on #171
@atomika great idea. I think that we could have a snippet-less guide or list of soft skills tips for interviews as a separate page on the website. That could do the trick, what do you think?

[2019-09-02 19:16] Tikam02 commented on #171
@fejes713 Can I contribute to this project by implementing features and also by adding the question.

[2019-09-02 19:34] fejes713 commented on #171
Hey, @Tikam02 you are welcome to contribute to this repository! Let me know if you need any help with it 😄 I'll be more than happy to help.

You can start by adding a question that you mentioned. You can find all guides inside the contributing file on this repository.

Speaking of new version, I am planning to start it late September so if you're available you can definitely help with few things :

[2019-09-03 03:06] skatcat31 commented on #171
@fejes713 accessibility is a huge undertaking. At work we use Axe, in either the command line tool or the browser extension to check to make sure we're accessible.

Another section that might be REALLY useful, especially for full stack developers, is proper test writing. An example:

If you are coding for a website, how would you write your test for your component? What about for the page it is go

[2019-09-03 07:25] fejes713 commented on #171
Amazing! Thanks for the feedback @skatcat31, **a testing category is a must-have for v2**. I'll think about the questions and consult with my senior peers to review them before we start adding and answering them. Couldn't agree more with you 👍

[2019-10-01 07:44] fejes713 opened #172 "Accessibility questions"
[Here](https://scottaohara.github.io/accessibility_interview_questions/)'s the list of good accessibility questions that we could add. Only answers are needed 😉

I'd suggest this be a task for Hacktoberfest this year.

Let me know if you need any help with first-time contributions 👍 I'd be happy to help! :octocat:

For more info follow our [contributing](https://github.com/30-seconds/30-seconds-of

[2019-10-01 08:46] CharaeKeow commented on #172
Would like to work on this but I'm not sure how can I help. Could you enlighten me a bit? Thanks!

[2019-10-01 09:37] fejes713 commented on #172
Sure @CharaeKeow! :octocat:

We collect all questions under `./questions` directory. Every question has the same format that you can find [here](https://github.com/30-seconds/30-seconds-of-interviews/blob/master/question-template.md). Keep in mind that you should select `raw` option on GitHub, or open that file with your editor in order to see the actual content.

You can add your own questions wi

[2019-10-01 19:09] aitchiss commented on #172
If you're still looking for help I'd love to help with this - would you be happy for me to submit a PR for the technical questions/answers?

Then if anyone else is still keen to help we could divide and conquer 😁

[2019-10-01 19:18] fejes713 commented on #172
Hey @aitchiss, yes we're looking for help with this. Thank you so much! Feel free to add any questions you like! 👍

Please let me know if you need any help or guidance with contributing! I'd be happy to help.

[2019-10-01 20:46] digilou commented on #172
This is a great idea. Still need more questions?

[2019-10-02 06:24] fejes713 commented on #172
@digilou yeah! As far as I see nobody contributed any accessibility questions + answers yet. Feel free to contribute if you have time and willpower to do so 😄

Let me know if you need any help with contributing. :octocat:

[2019-10-04 08:02] fejes713 commented on #172
This is an ongoing issue so I am going to keep it open.

[2019-10-06 17:07] skatcat31 commented on #172
@fejes713 you closed this again

[2019-10-07 07:42] fejes713 commented on #172
Haha, sorry. The auto-close feature is nice in most cases, but for this issue, it's not at all.

[2019-10-28 19:58] #172 closed

[2019-11-19 16:02] jordanch commented on #171
I came here because I wanted to suggest search, in some form, but see someone has already. Great.

As an end-user, I'd appreciate being able to search questions by (at least) input string. E.g. If I input "portal" into a search field, filter currently selected category questions by the input, searching across perhaps the question title and body.

The search design should be fleshed out further but

[2019-11-19 18:44] fejes713 commented on #171
Hi Jordan 👋

Thanks for submitting your feedback. I am on my trip home and hope to improve this projects by the end of this year - then we'll definitely include the search and better filtering.

[2020-02-27 20:03] gromovadarya90 opened #196 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-29 07:15] yatoogamii opened #197 "The answer to the "What are JavaScript data types?" question is no longer correct"
The answer to the ["What are JavaScript data types?"](https://github.com/30-seconds/30-seconds-of-interviews/blob/master/questions/types.md) question is no longer correct

Because now we have 7 primitives data types (String, Number, BigInt, Boolean, Null, Undefined, Symbol) and 1 non-primitive data type (object)

Can I fix?

links :
https://tc39.es/ecma262/#sec-ecmascript-language-types
https://de

[2020-03-13 09:07] fejes713 commented on #197
Hey @yatoogamii 👋

Thanks for noticing this! Yeah, definitely, you can fix this. We would appreciate it very much 😄

You can just update the file you mentioned and the website will be built and deployed automatically.

[2020-03-13 09:07] #197 closed

[2020-06-21 06:43] LinDaiDai opened #199 "A small request"
Hi, writer. First of all, thank you for your good questions and good answers. Secondly, I hope to quote some of your title in my article, but I will rewrite the answer with my own understanding, and will indicate the source of the title, such as this article: [https://juejin.im/post/5edd051051882543306824a3#heading-3](https://juejin.im/post/5edd051051882543306824a3#heading-3) Is this ok? If you fe

[2020-10-26 20:53] fejes713 commented on #199
Hey sorry for this mega late reply! Thanks for linking to the source, the article looks great!

[2020-10-26 20:53] #199 closed